
// hero media query
.hero{
  @media (max-width:374px) {
    h1{
      font-size: 1.75rem;
    }
  }
  @include tablet{ //768
    .container{
      max-width: 70vw;
    }
  }
  
  @include laptop{ //1024
    .container{
      max-width: 60vw;
    }
    h1{
      font-size: 2rem;
    }
  }

  @include tv{ //1140
    .container{
      max-width: 720px;
    }
    h1{
      font-size: 2.5rem;
    }
    p{
      width: 90%;
      margin-inline:auto;
      font-size: 18px;
    }
  }
}